h1{
    color: khaki;
    font-weight: bold;
    background-color: indigo;
    border-radius: 0.2em;
    text-align: center;
    padding: 10px;
}

h1 a{
    color:khaki;
    text-decoration: none;
}

h1 a:hover{
    color: lemonchiffon;
    text-decoration: none;
}

label{
    font-weight: bold;
}